#Install with: `pip3 install -r requirements.txt`

# Infrastructure
Django >= 1.8.3, < 1.9
Pillow == 2.9.0
pymssql
PyMySQL
django-material
requests
reportlab
django-request
django-material
reportlab
django-multiupload
