/******
Header
******/
tr
{
	width: 100%;
}
.addcard{
	padding: 2%;
}

.name{
	color: #828282;
	text-align: center;
}
.image-container{
	display: flex;
	flex-wrap: wrap;
}
.image-container div{
	margin: auto;
}
.image-container p{
	font-size: 20px;
}
.profilepic{
		width: 180px;
		height: 180px;
		border: 1px solid;
		border-radius: 50%;
		margin-left: 20%;
		margin-top: 10%;
		background-repeat: no-repeat;
		background-position: center center;
  		background-size: cover;
	}
#tNoti
{
	width: 80%;
}
#logoMob{
	margin: 5% 0% 0% 15%;
	width: 110px;
	border-radius: 50%;
}
#liLogo
{
	background-color: #3f51b5;
	height: 130px;
	margin-bottom: 10px;
}
#mobile-demo
{
	background-color: #e8eaf6;
}
#logo{
	margin: 5% 0% 0% 5%;
	width: 110px;
	border-radius: 50%;
}
#headerContent
{
	width: 100%;
	/*background-color: grey !important;*/
	height: 125px;
}
#nsitPlusHms
{
	width: 60%;
	margin-left:10%;
	margin-top: 0px; 
	height: 125px;
	float: left;
}
#header-text-nsit{
	margin-top: 1%;
	font-size: 2rem;
	width: 60%;
	text-align: center;
}
#header-text-hms{
	margin-top: 4%;
	font-size: 1.5rem;
	width: 60%;
	text-align: center;
}
#myLogin
{
	margin: 2% 5% 0% 0% !important;	
}
#dropdown2
{
	/*margin: 0% 0% 0% 0% !important;*/
    margin-left: 2%;
	margin-top: 4%;
	/*background-color: red;*/
}
header
{
	width: 100%;
	height: 125px;
}
nav{
	width: 100%;
	height: 125px;
}
#sideContainer
{
	width: 70%;
	float: left;
	/*margin-left: 5%;*/
}
#rSideContainer
{
	width: 30%;
	float: right;
	margin-right: 5%;
	margin-left: -5%;
}
table
{
	margin-top: 0px;
	background-color: #E6F4F4;
	margin-left: 0%;
	margin-right: 0%;
	width: 100%;
}
#hCards
{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
#hDesc
{
	font-size: small;
}
#news
{
	width: 100%;
	text-align: center;
}
#news
{
	font-size: large;
	background-color: #f5f5f5
}
/****
main
*****/

/***gradient****/
.card-title{
	z-index: 1;
}
.gradient:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 60%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 60%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 60%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 60%,rgba(0,0,0,0.7) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 60%,rgba(0,0,0,0.7) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
/*****
footer
******/

body{
	/*width: 100%;*/
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}
.footer, .footer2{
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	flex-wrap: wrap;
}
/*****
media queries
*******/

/*** header ****/
@media only screen and (max-width: 992px){
	#logo{
		display: none;
	}
	/*#header-text-nsit{
		margin: 0% 0% 0% 0%;
		transform: translateX(-55%);
		font-size: 1.6rem;
	}
	#header-text-hms{
		transform: translateX(-95%);
		margin: 40px 0% 0% 0px;
		font-size: 1.2rem;
	}*/
	#headerContent
	{
		/*width: 100%;*/
		/*background-color: grey !important;*/
		height: 125px;
		float: left;
	}
	header
	{
		/*background-color: grey !important;*/
		/*width: 100%;*/
		height: 125px;
	}
	nav{

		width: 100%;
		height: 125px;
	}
	#nsitPlusHms
	{

		width: 60%;
		/*margin-left:10%;*/
		margin-top: 0px; 
		/*height: 125px;*/
		float:left;
	}
	#header-text-nsit{
		margin-top: 1%;
		font-size: 2.25rem;
		width: 100%;
		text-align: center;
	}
	#header-text-hms{
		margin-top: 6%;
		font-size: 1.75rem;
		width: 100%;
		text-align: center;
	}
	
	#rSideContainer
	{
		width: 100%;
		float: left;
		margin-left: 0%;
		margin-right: 0%;
	}
	#sideContainer
	{
		width: 100%;
		float: left;
	}
}
@media only screen and (max-width: 624px)
{
	#hCards
	{
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
	}
	#header-text-nsit{
		margin-top: 1%;
		font-size: 1.75rem;
		width: 100%;
		text-align: center;
	}
	#header-text-hms{
		margin-top: 6%;
		font-size: 1.25rem;
		width: 100%;
		text-align: center;
	}
	nav
	{
		height: 100px;
	}
	
}
@media only screen and (max-width: 480px){
	#logo{
		display: none;
	}
	
	/*nav{
		height: 100px;
	}*/
	#headerContent
	{
		width: 100%;
		height: 100px;
		float: left;
	}
	header
	{
		width: 100%;
		height: 100px;
	}
	nav{
		width: 100%;
		height: 100px;
	}
	#nsitPlusHms
	{
		width: 50%;
		/*margin-left:100px !important;*/
		margin-top: 0px; 
		height: 100px;
		float: left;
	}
	#header-text-nsit{
		margin-top: 1%;
		font-size: 1.5rem;
		width: 80%;
		text-align: center;
	}
	#header-text-hms{
		margin-top: 8%;
		font-size: 1.25rem;
		width: 80%;
		text-align: center;
	}
	#sideContainer
	{
		width: 100%;
		float: left;
		margin-left: 0%;
		margin-right: 0%;
	}
}
/*<<<<<<< HEAD*/
@media only screen and (min-width: 1440px)
{
	#dropdown2
	{
		/*background-color: red;*/
		margin-left: 1%;
		margin-top: 3%;
	}
	#headerContent
	{
		width: 100%;
		height: 150px;
		float: left;
	}
	header
	{
		width: 100%;
		height: 150px;
	}
	nav{
		width: 100%;
		height: 150px;
	}
	#nsitPlusHms
	{
		width: 60%;
		/*margin-left:100px !important;*/
		margin-top: 0px; 
		height: 150px;
		float: left;
	}
	#header-text-nsit{
		margin-top: 1%;
		font-size: 3rem;
		width: 80%;
		text-align: center;
	}
	#header-text-hms{
		margin-top: 4%;
		font-size: 2.5rem;
		width: 80%;
		text-align: center;
	}
	#logo
	{
		margin: 4% 0% 0% 25%;
		width: 140px;
		border-radius: 50%;
	}
	#loginText
	{
		font-size: 1.5rem;
	}
	#sideContainer
	{
		width: 70%;
		float: left;
		/*margin-left: 5%;*/
	}
	#rSideContainer
	{
		width: 30%;
		float: right;
		margin-right: 5%;
		margin-left: -5%;
	}
	

}
@media only screen and (min-width: 2000px)
{
	#dropdown2
	{
		/*background-color: red;*/
		margin-left: 1%;
		margin-top: 3%;
	}
	#headerContent
	{
		width: 100%;
		height: 150px;
		float: left;
	}
	header
	{
		width: 100%;
		height: 150px;
	}
	nav{
		width: 100%;
		height: 150px;
	}
	#nsitPlusHms
	{
		width: 60%;
		/*margin-left:100px !important;*/
		margin-top: 0px; 
		height: 150px;
		float: left;
	}
	#header-text-nsit{
		margin-top: 1%;
		font-size: 3rem;
		width: 80%;
		text-align: center;
	}
	#header-text-hms{
		margin-top: 3.25%;
		font-size: 2.5rem;
		width: 80%;
		text-align: center;
	}
	#logo
	{
		margin: 4% 0% 0% 25%;
		width: 140px;
		border-radius: 50%;
	}
	#loginText
	{
		font-size: 1.5rem;
	}
	#sideContainer
	{
		/*background-color: grey;*/
		max-width: 70%;
		float: left;
		/*margin-left: 5%;*/
	}
	#rSideContainer
	{
		/*background-color: yellow;*/
		max-width: 30%;
		float: right;
		margin-right: 5%;
		margin-left: -5%;
	}

	

}
/*=======*/
/*
scroll to top button
*/
.top {
          display: inline-block;
          position: fixed;
          bottom: 70px;
          right: 15px;
          visibility: hidden;
          opacity: 0;
          -webkit-transition: opacity .3s 0s, visibility 0s .3s;
          -moz-transition: opacity .3s 0s, visibility 0s .3s;
          transition: opacity .3s 0s, visibility 0s .3s;
        }
        .top.is-visible, .top.fade-out, .no-touch .top:hover {
          -webkit-transition: opacity .3s 0s, visibility 0s 0s;
          -moz-transition: opacity .3s 0s, visibility 0s 0s;
          transition: opacity .3s 0s, visibility 0s 0s;
        }
        .top.is-visible {
          visibility: visible;
          opacity: 1;
        }
        .top.fade-out {
          opacity: .5;
        }
        .no-touch .top:hover {
          background-color: #e86256;
          opacity: 1;
        }
        @media only screen and (min-width: 768px) {
          .top {
            right: 25px;
            bottom: 75px;
          }
        }
        @media only screen and (min-width: 1024px) {
          .top {
            right: 30px;
            bottom: 75px;
          }
        }
/*>>>>>>> 51db5371f2130c01d96837de90aff06037c4cc75*/
