{% extends "newapp/home.html" %}
{% load staticfiles %}
{% load material_form %}
{% block title %} Warden - HMS {% endblock %}

{% block sidelist %}
<li><a class="waves-effect" href="{% url 'warden-room' %}">Room</a></li>
<li><a class="waves-effect" href="{% url 'warden-student' %}">Student</a></li>
<li><a class="waves-effect" href="{% url 'warden-council' %}">Council</a></li>
<li><a class="waves-effect" href="{% url 'warden-notices' %}">Notices</a></li>
<li><a class="waves-effect" href="{% url 'wardenViewComplaint' %}">Complaints</a></li>
<li><a class="waves-effect" href="{% url 'warden-mess' %}">Mess</a></li>
<li><a class="waves-effect" href="{% url 'warden-facilities' %}">Facilities</a></li>
<li><a class="waves-effect" href="{% url 'warden-hosform' %}">Forms</a></li>
<li><a class="waves-effect" href="{% url 'wardenViewDefaulters' %}">Defaulters</a></li>
<li><a class="waves-effect" href="{% url 'warden-event' %}">Events</a></li>
{% endblock %}
{% block content %}
<main id="studentInfo">
			<h3 class="center">
				{{stu}}
			</h3>
			</main>
	<form method="post" action="" enctype="multipart/form-data">
		{% csrf_token %}
		{% form form=form %}
		{% endform %}
		<button type="submit" name="attach-student" class="btn waves-effect waves-light left">Add Disciplinary Action</button>
	</form>
{% endblock %}
{% block script %}
{% endblock %}