{% extends "newapp/home.html" %}
{% load staticfiles %}
{% load material_form %}
{% block title %} Chief Warden {% endblock %}

{% block extrahead %} 
<!--<link rel="stylesheet" href="{% static 'assests/main-page/css/cw-home.css' %}">-->
<link type="text/css" rel="stylesheet" href="{% static 'assets/main-page/css/styleHostel.css' %}"/>
<!--<link rel="stylesheet" href="{% static 'assests/main-page/css/styleHostel.css' %}">-->
{% endblock %}

{% block content %}
{% if mes %}
<script type="text/javascript">
	alert("{{ mes }}");
</script>
{% endif %}
<div class="row">
	<div class="col s12 m12 l12">
		<h3>Complaints</h3>
		<hr>
		{% if comp|length > 0 %}
		<div class="card">
			<table class="striped centered bordered">
				<thead>
					<tr>
						<th data-field="id">S. No.</th>
						<th data-field="name">Description</th>						
						<th data-field="name">Dated</th>
						<th data-field="name">Submitted by</th>
						<th data-field="name">Action</th>
						<th data-field="name">Forwarded</th>
						<th data-field="name">Forward Complaint</th>
					</tr>
				</thead>
				<tbody>
					{% for hos in comp %}
					<tr>
						<td>
							{{ forloop.counter }}.
						</td>
						<td>
							{{ hos.description }}
						</td>
						<td>
							{{ hos.date_of_complaint }}
						</td>
						<td>
							<a href="{% url 'WardenViewStudentProfile' hos.lodgers_roll_no %}">{{ hos.lodgers_roll_no }}</a>
						</td>
						<td>
							<a href="#!" onclick="myFunction('{{ hos.pk }}')">Close Complaint</a>                            
						</td>
						<td>
							{% if hos.forwarded %}
							YES
							{% else %}
							NO
							{% endif %}
						</td>
						<td>
							<a href="{% url 'warden-forward-complaint' hos.pk %}">Forward Complaint</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% else %}
		<p>No Complaints Registered</p>
		{% endif %}
	</div>
</div>
{% endblock %}
<script type='text/javascript' >
	function myFunction(hosid) {
		if (confirm("Close complaint ? ") == true) {
			console.log('url called')
			window.location = "/warden/complaint/"+hosid+'/'
			console.log('url called again')
		}
	}
</script>

{% block sidelist %}
<li><a class="waves-effect" href="{% url 'warden-room' %}">Room</a></li>
<li><a class="waves-effect" href="{% url 'warden-student' %}">Student</a></li>
<li><a class="waves-effect" href="{% url 'warden-facilities' %}">Facilities</a></li>
<li><a class="waves-effect" href="{% url 'warden-council' %}">Council</a></li>
<li><a class="waves-effect" href="{% url 'warden-hosform' %}">Forms</a></li>
<li><a class="waves-effect" href="{% url 'warden-mess' %}">Mess</a></li>
<li><a class="waves-effect" href="{% url 'warden-notices' %}">Notices</a></li>
<li><a class="waves-effect" href="{% url 'wardenViewComplaint' %}">Complaints</a></li>
{% endblock %}