{% extends "newapp/home.html" %}
{% load staticfiles %}
{% load material_form %}
{% block title %} Defaulters-Warden {% endblock %}

{% block extrahead %} 
{% endblock %}

{% block content %}
{% if mes %}
<script type="text/javascript">
	alert("{{ mes }}");
</script>
{% endif %}
<div class="row">
	<h3>Personal data defaulters list</h3>
	<hr>
	<div class="col s12 m12 l12">
		<div class="card addcard">
			{% if count == 0 %}
			There are entries to be shown
			{% else %}
			<table class="centered striped bordered">
				<thead>
					<tr>
						<th data-field="id">S. No.</th>
						<th data-field="name">Student</th>
						<th data-field="name">Last date of submission</th>
					</tr>
				</thead>
				<tbody>
					{% for hos in list %}
					<tr>
						<td align="center">
							{{ forloop.counter }}.
						</td>
						<td align="center">
							{{ hos.student }}
						</td>
						<td align="center">
							{{ hos.hostel_last_date }}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
{% block sidelist %}
<li><a class="waves-effect" href="{% url 'warden-room' %}">Room</a></li>
<li><a class="waves-effect" href="{% url 'warden-student' %}">Student</a></li>
<li><a class="waves-effect" href="{% url 'warden-council' %}">Council</a></li>
<li><a class="waves-effect" href="{% url 'warden-notices' %}">Notices</a></li>
<li><a class="waves-effect" href="{% url 'wardenViewComplaint' %}">Complaints</a></li>
<li><a class="waves-effect" href="{% url 'warden-mess' %}">Mess</a></li>
<li><a class="waves-effect" href="{% url 'warden-facilities' %}">Facilities</a></li>
<li><a class="waves-effect" href="{% url 'warden-hosform' %}">Forms</a></li>
<li><a class="waves-effect" href="{% url 'wardenViewDefaulters' %}">Defaulters</a></li>
<li><a class="waves-effect" href="{% url 'warden-event' %}">Events</a></li>
{% endblock %}