event.html{% extends "newapp/home.html" %}
{% load staticfiles %}
{% load material_form %}
{% block title %} HMS-Warden-Event{% endblock %}

{% block extrahead %}
{% endblock %}

{% block extrastyle %}
<style>
	.material-placeholder, .materialboxed{
		display: inline;
	}
</style>
{% endblock %}

{% block content %}
	<h3>{{ event.title }}</h3>
	<hr>
	<h5>Event Description: </h5>
	<p>{{ event.description }}</p>
	<h5>Event Photo(s): </h5>
		{% for p in ephotos %}
		<img class="materialboxed" width="200" src="{{ p.image.url }}">
		
		{% endfor %}
{% endblock %}

{% block script %}
{% endblock %}
{% block sidelist %}
<li><a class="waves-effect" href="{% url 'warden-room' %}">Room</a></li>
<li><a class="waves-effect" href="{% url 'warden-student' %}">Student</a></li>
<li><a class="waves-effect" href="{% url 'warden-council' %}">Council</a></li>
<li><a class="waves-effect" href="{% url 'warden-notices' %}">Notices</a></li>
<li><a class="waves-effect" href="{% url 'wardenViewComplaint' %}">Complaints</a></li>
<li><a class="waves-effect" href="{% url 'warden-mess' %}">Mess</a></li>
<li><a class="waves-effect" href="{% url 'warden-facilities' %}">Facilities</a></li>
<li><a class="waves-effect" href="{% url 'warden-hosform' %}">Forms</a></li>
<li><a class="waves-effect" href="{% url 'wardenViewDefaulters' %}">Defaulters</a></li>
<li><a class="waves-effect" href="{% url 'warden-event' %}">Events</a></li>
{% endblock %}