{% extends "newapp/home.html" %}
{% load staticfiles %}
{% load material_form %}
{% block title %} Notice-Warden {% endblock %}

{% block extrahead %} 
{% endblock %}

{% block sidelist %}
<li><a class="waves-effect" href="{% url 'warden-room' %}">Room</a></li>
<li><a class="waves-effect" href="{% url 'warden-student' %}">Student</a></li>
<li><a class="waves-effect" href="{% url 'warden-council' %}">Council</a></li>
<li><a class="waves-effect" href="{% url 'warden-notices' %}">Notices</a></li>
<li><a class="waves-effect" href="{% url 'wardenViewComplaint' %}">Complaints</a></li>
<li><a class="waves-effect" href="{% url 'warden-mess' %}">Mess</a></li>
<li><a class="waves-effect" href="{% url 'warden-facilities' %}">Facilities</a></li>
<li><a class="waves-effect" href="{% url 'warden-hosform' %}">Forms</a></li>
<li><a class="waves-effect" href="{% url 'wardenViewDefaulters' %}">Defaulters</a></li>
<li><a class="waves-effect" href="{% url 'warden-event' %}">Events</a></li>
{% endblock %}

{% block content %}
{% if mes %}
<script type="text/javascript">
	alert("{{ mes }}");
</script>
{% endif %}
<div class="row">
	<h3>Notices</h3>
	<hr>
	<div class="col s12">
		<ul class="tabs">
			<li class="tab col s4"><a class="" href="#add">Add Notice</a></li>
			{% if notices|length > 0 %}
			<li class="tab col s4"><a class="active" href="#all">Active Notices</a></li>
			{% endif %}
			{% if nonactive|length > 0 %}
			<li class="tab col s4"><a class="active" href="#archive">Archive Notices</a></li>
			{% endif %}
		</ul>
	</div>
	<div class="col s12 m12 l12" id="add">
		<div class="card addcard">
			<h5>Add Notice</h5>
			<hr>
			<form method="post" action="" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next }}" />
				{% form form=form %}
				{% endform %}
				<div class="row">
					<div class="col s12"> 
						<button type="submit" name="add-room" class="btn waves-effect waves-light left">Add Notice</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="col s12" id="all"> 
		{% if notices|length > 0 %}
		<div class="card addcard" >
			<h5>All Notices</h5>
			<hr> 
			<table class="bordered striped centered">
				<thead>
					<tr>
						<th data-field="id">S. No.</th>
						<th data-field="name">Title</th>
						<th data-field="name">Dated</th>
						<th data-field="name"></th>
					</tr>
				</thead>
				<tbody>
					{% for hos in notices %}
					<tr>
						<td align="center">
							{{ forloop.counter }}.
						</td>
						<td align="center">
							<a href="{{ hos.file.url }}">{{ hos.title }}</a>
						</td>
						<td align="center">
							{{ hos.date }}.
						</td>
						<td align="center">
							<a href="#!" onclick="myFunction('{{ hos.id }}')">Delete Notice</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endif %}
	</div>

	<div class="col s12" id="archive"> 
		{% if nonactive|length > 0 %}
		<div class="card addcard" >
			<h5>Archive Notices</h5>
			<hr> 
			<table class="bordered striped centered">
				<thead>
					<tr>
						<th data-field="id">S. No.</th>
						<th data-field="name">Title</th>
						<th data-field="name">Dated</th>
						<th data-field="name"></th>
					</tr>
				</thead>
				<tbody>
					{% for hos in nonactive %}
					<tr>
						<td align="center">
							{{ forloop.counter }}.
						</td>
						<td align="center">
							<a href="{{ hos.file.url }}">{{ hos.title }}</a>
						</td>
						<td align="center">
							{{ hos.date }}.
						</td>
						<td align="center">
							<a href="#!" onclick="activate('{{ hos.id }}')">Activate Notice</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="pagination center">
				<span class="step-links">
					{% if nonactive.has_previous %}
					<a href="?page={{ nonactive.previous_page_number }}#archive">previous</a>
					{% endif %}

					<span class="current">
						Page {{ nonactive.number }} of {{ nonactive.paginator.num_pages }}
					</span>

					{% if nonactive.has_next %}
					<a href="?page={{ nonactive.next_page_number }}#archive">next</a>
					{% endif %}
				</span>
			</div>
		</div>
		{% endif %}
	</div>
</div>
<script type='text/javascript' >
	function myFunction(hosid) {
		if (confirm("Delete Notice ?") == true) {
			window.location = "/warden/deletenotice/"+hosid
		}
	}
	function activate(hosid) {
		if (confirm("Activate Notice ?") == true) {
			window.location = "/warden/activatenotice/"+hosid
		}
	}
</script>
{% endblock %}