{% extends "newapp/home.html" %}
{% load staticfiles %}
{% load material_form %}
{% block title %} Room-Warden {% endblock %}

{% block extrahead %}
{% endblock %}

{% block extrastyle %}
{% endblock %}

{% block sidelist %}
<li><a class="waves-effect" href="{% url 'warden-room' %}">Room</a></li>
<li><a class="waves-effect" href="{% url 'warden-student' %}">Student</a></li>
<li><a class="waves-effect" href="{% url 'warden-council' %}">Council</a></li>
<li><a class="waves-effect" href="{% url 'warden-notices' %}">Notices</a></li>
<li><a class="waves-effect" href="{% url 'wardenViewComplaint' %}">Complaints</a></li>
<li><a class="waves-effect" href="{% url 'warden-mess' %}">Mess</a></li>
<li><a class="waves-effect" href="{% url 'warden-facilities' %}">Facilities</a></li>
<li><a class="waves-effect" href="{% url 'warden-hosform' %}">Forms</a></li>
<li><a class="waves-effect" href="{% url 'wardenViewDefaulters' %}">Defaulters</a></li>
<li><a class="waves-effect" href="{% url 'warden-event' %}">Events</a></li>
{% endblock %}
{% block content %}
{% if mes %}
<script type="text/javascript">
	alert("{{ mes }}");
</script>
{% endif %}
<div class="row">
	<h3>Rooms</h3>
	<hr>
	<div class="col s12">
		<ul class="tabs">
			<li class="tab col s4"><a class="active" href="#search">Search Room</a></li>
			<li class="tab col s4"><a class="" href="#add">Add Room</a></li>
			<li class="tab col s4"><a class="" href="#view">View Room</a></li>
		</ul>
	</div>
	{% if mes %}
	<p>
		<script type="text/javascript">
			toast({{ mes }});
		</script>
		{{ mes }}
	</p>
	<script>
		function toast(message){
			Materialize.toast(message, 4000)
		}
	</script>
	{% endif %}
	<div class="col s12 m12 l12" id="search">
		<div class="card addcard" >
			<div class="row">
				<h5> Search Room </h5>
				<hr>
				<div class="col s12 m6 l6">
					<form method="post" action="{% url 'warden-search-room' %}">
						{% csrf_token %}
						{% form form=searchroomform %}
						{% endform %}
						<button type="submit" name="search-room" class="btn waves-effect waves-light left"><i class="material-icons">search</i></button>
					</form>
				</div>
				{% if searchedroom %}
				<table class="centered bordered">
					<thead>
						<tr>
							<th data-field="id">Room Number</th>
							<th data-field="name">Capacity of Room</th>
							<th data-field="name">Capacity Available</th>
							<th data-field="name">Students</th>
							<th data-field="name">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ searchedroom.room.room_no }}</td>
							<td>{{ searchedroom.room.capacity_of_room }}</td>
							<td>{{ searchedroom.room.capacity_remaining }}</td>
							<td>
								{% for s in searchedroom.students %}
								<a href="{% url 'WardenViewStudentProfile' s.username %}">{{ s.username }}</a><br> 
								{% endfor %}
							</td>
							<td><a href="#!" onclick="myFunction('{{ searchedroom.room.room_no }}','{{ searchedroom.room.pk }}')">Delete Room</a></td>
						</tr>
					</tbody>
				</table>
				{% endif %}
				{% if searchedroomnotfound %}
				<p>Room Not Found.</p>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="col s12 m12 l12" id="add">
		<div class="card addcard">
			<h5>Add Room</h5>
			<hr>
			<form method="post" action="/warden/room/add/#add">
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next }}" />
				{% form form=addroomform %}
				{% endform %}
				<div class="row">
					<div class="col s12"> 
						<button type="submit" name="add-room" class="btn waves-effect waves-light left">Add Room</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="col s12 m12 l12" id="view">
	<div class="card addcard">
	<h5>View Room</h5>
	<hr>
	{% if roomfulllist %}
	<a class="btn" href="/warden/room/#view"> Hide All Rooms</a><br><br>
	<a class="btn" href = "{%url 'print-room-list' %}"> Print This List</a>
	<table class="centered striped">
		<thead>
			<tr>
				<th data-field="id">Room Number</th>
				<th data-field="name">Capacity of Room</th>
				<th data-field="name">Capacity Available</th>
				<th data-field="name">Students</th>
				<th data-field="name">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for r in rooms %}
			<tr>
				<td>{{ r.room.room_no }}</td>
				<td>{{ r.room.capacity_of_room }}</td>
				<td>{{ r.room.capacity_remaining }}</td>
				<td>
					{% for s in r.students %}
					<a href="{% url 'WardenViewStudentProfile' s.username %}">{{ s.username }}</a></br> 
					{% endfor %}
				</td>
				<td><a href="#" onclick="myFunction('{{ r.room.room_no }}','{{ r.room.pk }}')">Delete Room</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="pagination center">
		<span class="step-links">
		{% if rooms.has_previous %}
			<a href="?page={{ rooms.previous_page_number }}#view">previous</a>
			{% endif %}

			<span class="current">
				Page {{ rooms.number }} of {{ rooms.paginator.num_pages }}
			</span>

			{% if rooms.has_next %}
			<a href="?page={{ rooms.next_page_number }}#view">next</a>
			{% endif %}
		</span>
	</div>
	{% else %}
	<a class="btn" href="/warden/room/all/#view"> View All Rooms</a>
	{% endif %}
	</div>
	</div>

	{% if studentinroom %}
	<script type="text/javascript">
		alert("Room cannot be deleted as student is already there in that room.");
	</script>
	{% endif %}
	
	{% if studentnotinroom %}
	<script type="text/javascript">
		alert("Room deleted Successfully");
	</script>
	{% endif %}

</div>
</div>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript' >
	function myFunction(rno,rid) {
		a = "Delete Room '"+rno+"' ?"
		if (confirm(a) == true) {
			window.location = "/warden/room/delete/"+rid
		}
	}
</script>
{% endblock %}