{% extends "newapp/home.html" %}
{% load staticfiles %}
{% load material_form %}
{% block title %} Warden - HMS {% endblock %}

{% block extrahead %} 
{% endblock %}

<!-- {% block extrastyle %}
<style>
	.profilepic{
		width: 180px;
		height: 180px;
		border: 1px solid;
		border-radius: 50%;
		margin-left: 20%;
		margin-top: 10%;
		background-repeat: no-repeat;
		background-position: center center;
  		background-size: cover;
	}
</style>
{% endblock %}
 -->
{% block content %}

	<main id="studentInfo">
			<h3 class="center">
				Student Profile Page
			</h3>
			<div id="stuLeft">
				<ul id="listFac">
				<li>
			      <div>
					<h5 class="center">
						Personal details
					</h5>
				  </div>
				  <table>
					<tr id="tr1">
						<td>
							Name :
						</td>
						<td>
							{{s.name}}
						</td>
					</tr>
					<tr>
						<td>
							Date of Birth
						</td>
						<td>
							{{ s.date_of_birth }}
						</td>
					</tr>
					<tr id="tr1">
						<td>
							Distance from Nsit :
						</td>
						<td>
							{{ s.distance_from_nsit }}
						</td>
					</tr>
					<tr>
						<td>
							Gender :
						</td>
						<td>
							{{ s.gender }}
						</td>
					</tr>
					<tr id="tr1">
						<td>
							Blood group : 
						</td>
						<td>
							{{ s.blood_group }}
						</td>
					</tr>
					<tr>
						<td>
							College category :
						</td>
						<td>
							{{ s.college_category }}
						</td>
					</tr>
					<tr>
						<td>
							Phone Number :
						</td>
						<td>
							{{  s.student_phone_num }}
						</td>
					</tr>
					<tr id="tr1">
						<td>
							Optional Phone number :
						</td>
						<td>
							{{ s.student_optional_phone_num }}
						</td>
					</tr>
					<tr>
						<td>
							Father's Name :
						</td>
						<td>
							{{ s.father_name }}
						</td>
					</tr>
					<tr id="tr1">
						<td>
							Mother's name :
						</td>
						<td>
							{{ s.mother_name }}
						</td>
					</tr>
					<tr>
						<td>
							Parent's email :
						</td>
						<td>
							{{ s.parent_email }}
						</td>
					</tr>
					<tr id="tr1">
						<td>
							Parent's phone number :
						</td>
						<td>
							{{ s.parent_phone_num }}
						</td>
					</tr>
					<tr>
						<td>
							Parent's optional phone number :
						</td>
						<td>
							{{ s.parent_optional_phone_num }}
						</td>
					</tr>
					<tr id="tr1">
						<td>
							Permenant address :
						</td>
						<td>
							{{ s.permanent_address }}
						</td>
					</tr>
					<tr>
						<td>
							Permenant address zipcode :
						</td>
						<td>
							{{ s.permanent_address_zipcode }}
						</td>
					</tr>
					<tr id="tr1">
						<td>
							Local guardian name :
						</td>
						<td>
							{{ s.local_guardian_name }}
						</td>
					</tr>
					<tr>
						<td>
							Local guardian address :
						</td>
						<td>
							{{ s.local_guardian_address }}
						</td>
					</tr>
					<tr id="tr1">
						<td>
							Local guardian address zipcode :
						</td>
						<td>
							{{ s.local_guardian_address_zipcode }}
						</td>
					</tr>
					<tr>
						<td>
							Local Guardian Phone Number :
						</td>
						<td>
							{{ s.local_guardian_phone_number }}
						</td>
					</tr>
					<tr id="tr1">
						<td>
							Local Guardian optional phone number :
						</td>
						<td>
							{{ s.local_guardian_optional_phone_num }}
						</td>
					</tr>
					<tr>
						<td>
							Local Guardian Email :
						</td>
						<td>
							{{ s.local_guardian_email }}
						</td>
					</tr>

				  </table>
			    </li>
				<br><br><br><br>
				<hr>
				
			</ul>
			</div>
			<div id="stuRight">
				<div>
					{% if s.student_photo %}
						<img class="profilepic" src="{{ s.student_photo.url }}">
					{% else %}
						<img class="profilepic" src="/media/demo.png">
					{% endif %}				
				</div>
				<div>
					<h5 class="center">
						Previous Hostel history
					</h5>
				</div>
				<table id="table1">
					<tr id="td1">
						<td id="td1">
							#
						</td>
						<td id="td1">
							Hostel
						</td>
						<td id="td1">
							Room no.
						</td>
						<td id="td1">
							Join Date
						</td>
						<td id="td1">
							Left on
						</td>
					</tr>
					{% for i in prev %}
						<tr>
							<td id="td1">
								{{forloop.counter}}
							</td>
							<td id="td1">
								{{ i.hostel_name }}
							</td>
							<td id="td1">
								{{ i.room_no }}
							</td>
							<td id="td1">
								{{ i.hostel_join_date }}
							</td>
							<td id="td1">
								{{ i.hostel_leave_date }}
							</td>
						</tr>
				    {% endfor %}
				</table>
				<div>
					<h5 class="center">
						Disciplinary actions & fines
					</h5>
				</div>
				<table id="table1">
					<tr id="td1">
						<td id="td1">
							#
						</td>
						<td id="td1">
							Date
						</td>
						<td id="td1">
							Fine amount
						</td>
						<td id="td1">
							Paid
						</td>
                        <td>
                            
                        </td>
					</tr>
					{% for i in crim %}
						<tr>
							<td id="td1">
								{{forloop.counter}}
							</td>
							<td id="td1">
								{{ i.date_of_action }}
							</td>
							<td id="td1">
								{{ i.fine_amount }}
							</td>
							<td id="td1">
								{% if i.paid_or_not %}
								Yes
								{% else %}
								No
								{% endif %}
							</td>
                            <td>
                                {% if i.paid_or_not %}
								{% else %}
								<a href="#!" onclick="myFunction('{{i.pk}}','{{ i.student }}')">Pay</a>
								{% endif %}
                            </td>
						</tr>
						<tr><td colspan="5" class="center">{{ i.description }}</td></tr>
				    {% endfor %}
				</table>
                <script type='text/javascript' >
		function myFunction(pk,stu) {
			if (confirm("Are you sure to pay the Fine ?") == true) {
				window.location = '/warden/payfine/'+pk+'/'+stu+'/'
			}
		}
	</script>
			</div>
			
	</main>
	<div class="row">
		<div class="col s12"> 
		<a href = "{%url 'print-PDF' name username %}"><button type="submit" name="login" class="btn waves-effect waves-light left">Print Details</button></a>
		</div>
	</div>
	{% if mes %}
			<script type="text/javascript">
				alert("{{ mes }}");
			</script>
{% endif %}
	
	{% endblock %}
	
	{% block script %}
	<script type="text/javascript">
		$('.collapsible-body').css({
			"padding": "2%"
		});
	</script>
	{% endblock %}
{% block sidelist %}
<li><a class="waves-effect" href="{% url 'warden-room' %}">Room</a></li>
<li><a class="waves-effect" href="{% url 'warden-student' %}">Add Student</a></li>
<li><a class="waves-effect" href="{% url 'warden-facilities' %}">Facilities</a></li>
<li><a class="waves-effect" href="{% url 'warden-council' %}">Council</a></li>
<li><a class="waves-effect" href="{% url 'warden-hosform' %}">Forms</a></li>
<li><a class="waves-effect" href="{% url 'warden-mess' %}">Mess</a></li>
<li><a class="waves-effect" href="{% url 'warden-notices' %}">Notices</a></li>
{% endblock %}