<!doctype html>
<html lang="en">
{% load staticfiles %}
{% load material_form %}
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name = "viewport" content = "width=device-width, initial-scale = 1">
   <title> {% block title %} HMS {% endblock %} </title>
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
   {% include 'material/includes/material_css.html' %}
   <link type="text/css" rel="stylesheet" href="{% static 'assets/main-page/css/style.css' %}"/>
   <link type="text/css" rel="stylesheet" href="{% static 'assets/main-page/css/font-awesome-4.5.0/css/font-awesome.min.css' %}"/>
</head>

<body>
    <!-- Header -->
<!--<div><p class="center">Notice from chiefwarden</p></div>-->
    <header>
        <nav class="indigo">
            <div class="nav-wrapper">
                <a href='{% url "base" %}' class="brand-logo "><img id="logo" src= '{% static "assets/main-page/media/images/logo.png" %}'>
                    <div id="header-text-nsit" class="brand-logo flow-text left-align">Netaji Subhas Institue of Technology
                    </div>
                    <div id="header-text-hms" class="brand-logo flow-text left-align">Hostel Management System</div>
                </a>
                <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                <ul class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                    <!-- Dropdown Trigger -->
                    <a class='dropdown-button btn login-button' href='#' data-activates='dropdown2'>{{user}}</a>
                                      
                    <ul id='dropdown2' class='dropdown-content'>
                      <li><a href="{% url 'home' %}">Profile</a></li>                      
                      <li><a href="{% url 'newappResetPassword' %}">Reset Password</a></li>
                      <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                        
                    {% else %}
                    <li class="login-button"><a class="modal-trigger waves-effect waves-light btn" href="{% url 'login' %}">
                        Login
                    </a></li>
                    {% endif %}
                </ul>
                
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#!">Home</a></li>
                    {% if user.is_authenticated %}
                    <li><a class='dropdown-button btn' data-activates='dropdown3' href="#!">{{user}}</a></li>
                    
                    <ul id='dropdown3' class='dropdown-content'>
                      <li><a href="{% url 'home' %}">Profile</a></li>
                      <li><a href="{% url 'newappResetPassword' %}">Reset Password</a></li>
                      <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                    {% else %}
                    <li><a class="modal-trigger waves-effect waves-light btn" href="#login-modal">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <!-- Main Content -->

    <main>
        <div id="rSideContainer">
            
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header active" id="news"><i class="fa fa-sort-desc"></i>News/Announcements</div>        
                    <table class="collapsible-body">
                        {% if noti %}
                        {% for i in noti %}
                        <tr>
                        <td>
                        <a href="http://127.0.0.1:8000{{i.file.url}}" target="_blank">{{ i.title }}</a>
                        </td>
                        <td>
                            {{ i.time|date }}
                        </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr><td>No notifications</td></tr>
                        {% endif %}
                        
                        
                    </table>
                </li>
            </ul>
            <!--<ul  data-collapsible="accordion">
                <li>
                    <div  id="news">News/Announcements</div>        
                    <table >
                        <tr><td><a href="#">Link1</a></td></tr>
                        <tr><td><a href="#">Link2</a></td></tr>
                        <tr><td><a href="#">Link3</a></td></tr>
                    </table>
                </li>
            </ul>-->
        </div>
        <div class="container" id="sideContainer">
            {% if len|divisibleby:2 %}
                {% for hos in hostels %}
                    {% if forloop.counter0|divisibleby:2 %}
                        <div class="row" id="hCards">
                            <div class="col s12 m6 l6">
                                <div class="card">
                                    <div class="card-image gradient">
                                        <img src='{% static "assets/main-page/media/images/hostel.jpg" %}'>
                                        <span class="card-title">{{ hos.hostel_name }}</span>
                                    </div>
                                    <div class="card-content">
                                        <p id="hDesc">Old but Gold. The very first hostel of NSIT. A little different but better. Fill me with Pleasure.</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="/newapp/{{ hos.username }}/" >More Info.</a>
                                    </div>
                                </div>
                            </div>
                    {% else %}
                            <div class="col s12 m6 l6">
                                <div class="card">
                                    <div class="card-image  gradient">
                                        <img src='{% static "assets/main-page/media/images/hostel2.jpg" %}'>
                                        <span class="card-title">{{ hos.hostel_name }}</span>
                                    </div>
                                    <div class="card-content">
                                        <p id="hDesc">I am a Hostel. Currently housing 4th year students that's why I am alone inside. Please fill me.</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="/newapp/{{ hos.username }}/#facilities" >More Info.</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for hos in hostels %}
                    {% if forloop.last %}
                        <div class="row" id="hCards">
                            <div class="col s6 offset-s3">
                                <div class="card">
                                    <div class="card-image gradient">
                                        <img src='{% static "assets/main-page/media/images/hostel.jpg" %}'>
                                        <span class="card-title">{{ hos.hostel_name }}</span>
                                    </div>
                                    <div class="card-content">
                                        <p id="hDesc">Old but Golddd. The very first hostel of NSIT. A little different but better. Fill me with Pleasure.</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="/newapp/{{ hos.username }}/#facilities" >More Info.</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif forloop.counter0|divisibleby:2 %}
                        <div class="row" id="hCards">
                            <div class="col s12 m6 l6">
                                <div class="card">
                                    <div class="card-image gradient">
                                        <img src='{% static "assets/main-page/media/images/hostel.jpg" %}'>
                                        <span class="card-title">{{ hos.hostel_name }}</span>
                                    </div>
                                    <div class="card-content">
                                        <p id="hDesc">Old but Gold. The very first hostel of NSIT. A little different but better. Fill me with Pleasure.</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="/newapp/{{ hos.username }}/#facilities" >More Info.</a>
                                    </div>
                                </div>
                            </div>
                    {% else %}
                            <div class="col s12 m6 l6">
                                <div class="card">
                                    <div class="card-image  gradient">
                                        <img src='{% static "assets/main-page/media/images/hostel2.jpg" %}'>
                                        <span class="card-title">{{ hos.hostel_name }}</span>
                                    </div>
                                    <div class="card-content">
                                        <p id="hDesc">I am a Hostel. Currently housing 4th year students that's why I am alone inside. Please fill me.</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="/newapp/{{ hos.username }}/#facilities" >More Info.</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        
    </main>

    <!-- Footer --> 

    <footer class="page-footer grey darken-4">
        <div class="container footer">
            <a class="grey-text text-lighten-3 modal-trigger" href="#aboutt">About</a>
            <a class="grey-text text-lighten-3" href="#!">Contact Us</a>
            <a class="grey-text text-lighten-3 modal-trigger" href="#locate">Locate Us</a>
            <a class="grey-text text-lighten-3" href="#!">Feedback</a>
            <a class="grey-text text-lighten-3" href="http://www.nsit.ac.in" target="_blank">nsit.ac.in</a>
        </div>
    </footer>

    <!-- Modals -->

    <!-- About -->
		<div id="aboutt" class="modal">
			<div class="modal-content">
				<h3 class="center">
					About us
				</h3>
				<hr>
				<p>
					wawwe ewqweq eqweweqe qewqe qewqeqw resdfdd fffdfdfd
				</p>
			</div>
		</div>
		
		<!-- Locate Us -->
		<div id="locate" class="modal">
			<div class="modal-content">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.6879906005356!2d77.03287455023379!3d28.609135591804954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d053516783c9b%3A0x7e540ab22a28446!2sNetaji+Subhas+Institute+Of+Technology!5e0!3m2!1sen!2sin!4v1458988779817" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
    
    <!-- forgot password -->

    <div id="forgot-password" class="modal">
        <div class="modal-content">
            <h4> Forgot Password</h4>
            <hr>
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" type="text" class="validate">
                    <label for="username">Username/Roll No.</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="date" class="datepicker">
                    <label for="password">Date of Birth</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Reset Password</button>
                <button id="flogin-button" class="btn waves-effect waves-light" type="submit" name="action">Log In</button>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Cancel</a>
            </div>
        </div>

        <!--Scripts -->
        <script type="text/javascript" src='{% static "assets/main-page/js/jquery-1.11.3.min.js" %}'></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        {% include 'material/includes/material_js.html' %}
        <script type="text/javascript" src='{% static "assets/main-page/js/script.js" %}'></script>
        <script type="text/javascript">
            $( window ).load(function() {
                main();
            });
        </script>
    </body>
    </html>