<!DOCTYPE html>

{% load staticfiles %}
{% load material_form %}
<html>
<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	{% include 'material/includes/material_css.html' %}   
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="{% static 'assets/main-page/css/styleHostel.css' %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<style type="text/css">
	.container ul{
		overflow-y: hidden;
overflow-x: hidden;
	}
</style>
<body>
	<!-- Header -->

	<header>
		<nav class="indigo">
			<div class="nav-wrapper">
				<a href="#!" class="brand-logo "><img id="logo1" src= "{% static 'assets/main-page/media/images/logo.png' %}">
					<div id="header-text-nsit" class="brand-logo flow-text left-align">
						Netaji Subhas Institue of Technology
					</div>
					<div id="header-text-hms" class="brand-logo flow-text left-align">
						Hostel Management System
					</div>
				</a>
				<a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons mdi-navigation-menu"></i></a>
				<ul class="right hide-on-med-and-down">
					{% if user.is_authenticated %}
					<!-- Dropdown Trigger -->
					<a class='dropdown-button btn login-button' href='#' data-activates='dropdown2'>{{user}}</a>

					<ul id='dropdown2' class='dropdown-content'>
						<li><a href="{% url 'home' %}">Profile</a></li>
						<li><a href="{% url 'newappResetPassword' %}">Reset Password</a></li>
						<li><a href="{% url 'logout' %}">Logout</a></li>
					</ul>

					{% else %}
					<li class="login-button"><a class="modal-trigger waves-effect waves-light btn" href="{% url 'login' %}">
						Login
					</a></li>
					{% endif %}
				</ul>	
			</div>
		</nav>
	</header>
	
	<ul id="nav-mobile" class="side-nav fixed">
		<li id="lback"><a class="logo-side-nav" href='{% url "base" %}'><img id="logo" src= '{% static "assets/main-page/media/images/logo.png" %}'></a></li>
		<br>
		<ul class="collapsible collapsible-accordion">
			{% for hos in all_hostels %}			
			{% if hos.id == target_hostel.username %}
			<li>
			</li>
			{% else %}
			<li>
				<a class="btn collapsible-header waves-effect waves-teal">{{ hos.name }}<i class="mdi-navigation-arrow-drop-down"></i></a>
				<div class="collapsible-body">
					<ul id="colBod">
						<li><a class="waves-effect" href="/newapp/{{ hos.id }}/#main">Basic Info.</a></li>
						<li><a class="waves-effect" href="/newapp/{{ hos.id }}/#notice">Notice</a></li>
						<li><a class="waves-effect" href="/newapp/{{ hos.id }}/#forms">Forms</a></li>
						<li><a class="waves-effect" href="/newapp/{{ hos.id }}/#mess">Mess</a></li>
						<li><a class="waves-effect" href="/newapp/{{ hos.id }}/#facilities">Facilities</a></li>
						<li><a class="waves-effect" href="/newapp/{{ hos.id }}/#eventlist">Events</a></li>
					</ul>
				</div>
			</li>
			{% endif  %}
			{% endfor %}

		</ul>
	</ul>
	<!-- for mobile version -->
	<ul class="side-nav" id="mobile-demo">
		<li><a class="login-button" href="#!">Home</a></li>
		<li><a class="modal-trigger waves-effect waves-light btn login-button" href="#login-modal">Login</a></li>
		<ul class="collapsible collapsible-accordion">
			{% for hos in all_hostels %}
			<!--<p>{{ hos.id }}</p>-->
			{% if hos.id == target_hostel.username %}
			<li>
				<a class="btn collapsible-header waves-effect waves-teal">{{ hos.name }}<i class="mdi-navigation-arrow-drop-down"></i></a>
				<div class="collapsible-body">
					<ul id="colBod">
						<li><a class="waves-effect" href="#main">Basic Info.</a></li>
						<li><a class="waves-effect" href="#notice">Notice</a></li>
						<li><a class="waves-effect" href="#forms">Forms</a></li>
						<li><a class="waves-effect" href="#mess">Mess</a></li>
						<li><a class="waves-effect" href="#facilities">Facilities</a></li>
						<li><a class="waves-effect" href="#eventlist">Event</a></li>
					</ul>
				</div>
			</li>
			{% else %}
			<li>
				<!--<p>{{ hos.id }}</p>-->
				<a class="btn collapsible-header waves-effect waves-teal">{{ hos.id }}<i class="mdi-navigation-arrow-drop-down"></i></a>
				<div class="collapsible-body">
					<ul id="colBod">
						<li><a class="waves-effect" href="/newapp/{{ hos.id }}/#main">Basic Info.</a></li>
						<li><a class="waves-effect" href="/newapp/{{ hos.id }}/#notice">Notice</a></li>
						<li><a class="waves-effect" href="/newapp/{{ hos.id }}/#forms">Forms</a></li>
						<li><a class="waves-effect" href="/newapp/{{ hos.id }}/#mess">Mess</a></li>
						<li><a class="waves-effect" href="/newapp/{{ hos.id }}/#facilities">Facilities</a></li>
						<li><a class="waves-effect" href="/newapp/{{ hos.id }}/#eventlist">Events</a></li>
					</ul>
				</div>
			</li>
			{% endif  %}
			{% endfor %}
		</ul>
	</ul>
	
	<div class="container bfp">
		
		{% for hos in all_hostels %}			
		{% if hos.id == target_hostel.username %}
		<h4 class="center red-text text-accent-1">{{ hos.name }} </h4>
		<hr>
		{% endif  %}
		{% endfor %}
		
		<div class="col s12">
			<ul class="tabs row">
				<li class="tab col s2"> <a class="active" href="#main">Basic Info.</a></li>
				<li class="tab col s2"> <a href="#notice">Notice</a></li>
				<li class="tab col s2"> <a href="#forms">Forms</a></li>
				<li class="tab col s2"> <a href="#mess">Mess</a></li>
				<li class="tab col s2"> <a href="#eventlist">Event</a></li>
				<li class="tab col s2"> <a href="#facilities">Facilities</a></li>
			</ul>
		</div>
	</div>
	<!-- <div class="card-panel"> -->
	
	<main>
		<div class="container">
			<div class="row">
				<div class=" col l12 bfp" id="main">
					<h5 class="center blue-text text-accent-1">Basic Information</h5>
					<hr><br>
					<div class="card">
						<div class="card-content black-text row">
							<div class="col s12 m6 l6">
								<span class="card-title deep-orange-text">Warden</span><br>
								Name : {{ target_hostel.name }}<br>
								Phone No  : {{ target_hostel.phone }}<br>
								Landline : {{ target_hostel.landline }}<br>
								Email : {{ target_hostel.email }}<br>
								Department : {{ target_hostel.dept }}<br>
								Portfolio : {{ target_hostel.portfolio }}<br>
								Total Capacity : {{  total_rooms }}<br>
								Available Capacity : {{ rooms_available }}<br>
							</div>
							<div class="col s12 m6 l6">
								{% if wardenphoto %}
								<img class="profilepic" src="{{ target_hostel.warden_photo.url }}">
								{% else %}
								<img class="profilepic" src="/media/demo.png">
								{% endif %}
							</div>
						</div>
					</div>
					{% for c in council %}
					<div class="card">
						<div class="card-content black-text row">
							<div class="col s12 l6 m6">
								<span class="card-title deep-orange-text">{{ c.coun.position }} - {{ c.coun.committee }}</span>
								<p class="brown-text text-darken-2">Name : {{ c.coun.name }}</p>
								<p class="brown-text text-darken-2">Email : {{ c.coun.email }}</p>
								<p class="brown-text text-darken-2">Phone Number : {{ c.coun.phone }}</p>
							</div>
							<div class="col s12 l6 m6">
								{% if c.photo %}
								<img class="profilepic" src="{{ c.coun.photo.url }}">
								{% else %}
								<img class="profilepic" src="/media/demo.png">
								{% endif %}
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div id="notice">
					<h5 class="center blue-text text-accent-1">Notices</h5>
					<hr><br>
					{% if notices|length > 0 %}
					<table class=" centered striped">
						<thead>
							<tr>
								<th>
									Notice Title
								</th>
								<th>Added On</th>
							</tr>
						</thead>
						<tbody>
							{% for n in notices %}
							<tr>
								<td>
									<a href="{{ n.file.url }}" target="__blank">{{ n.title|linesbreak }}</a>
								</td>
								<td>{{ n.time|date }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% else %}
					There is no Notice.
					{% endif %}
				</div>
				<div class=" col l12 bfp" id="forms">
					<h5 class="center blue-text text-accent-1">Forms</h5>
					<hr><br>
					{% if hosform|length > 0 %}
					<table class="centered striped">
						<tbody>
							{% for h in hosform %}
							<tr>
								<td>
									<a href="{{ h.hosf.file.url }}" target="__blank">{{ h.hosf.title|linesbreak }}</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% else %}
					Currently forms are not available.
					{% endif%}
				</div>
				<div class=" col l12 bfp" id="mess">
					<h5 class="center blue-text text-accent-1">Mess Details</h5>
					<hr><br>
					{% if mess %}
					<div class="card">
						<div class="card-body">
							<p class="center orange-text">Weekdays</p>
							<table class="striped centered bordered "id="messtable">
								<thead>
									<tr>
										<th data-field="name">Meal</th>
										<th data-field="id">From - To</th>
										<th data-field="name">Charges (Rs.)</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Breakfast</td>
										<td>{{ mess.weekday_breakfast_from }} - {{mess.weekday_breakfast_to}}</td>
										<td>{{ mess.weekday_breakfast_charge }}</td>
									</tr>
									<tr>
										<td>Lunch</td>
										<td>{{ mess.weekday_lunch_from }} - {{mess.weekday_lunch_to}}</td>
										<td>{{ mess.weekday_lunch_charge }}</td>
									</tr>
									<tr>
										<td>Snack</td>
										<td>{{ mess.weekday_snack_from }} - {{mess.weekday_snack_to}}</td>
										<td>{{ mess.weekday_snack_charge }}</td>
									</tr>
									<tr>
										<td>Dinner</td>
										<td>{{ mess.weekday_dinner_from }} - {{mess.weekday_dinner_to}}</td>
										<td>{{ mess.weekday_dinner_charge }}</td>
									</tr>
								</tbody>
							</table>
							<p class="center orange-text">Weekend</p>
							<table class="striped centered bordered">
								<thead>
									<tr>
										<th data-field="name">Meal</th>
										<th data-field="id">From - To</th>
										<th data-field="name">Charges (Rs.)</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Breakfast</td>
										<td>{{ mess.weekend_breakfast_from }} - {{mess.weekend_breakfast_to}}</td>
										<td>{{ mess.weekend_breakfast_charge }}</td>
									</tr>
									<tr>
										<td>Lunch</td>
										<td>{{ mess.weekend_lunch_from }} - {{mess.weekend_lunch_to}}</td>
										<td>{{ mess.weekend_lunch_charge }}</td>
									</tr>
									<tr>
										<td>Snack</td>
										<td>{{ mess.weekend_snack_from }} - {{mess.weekend_snack_to}}</td>
										<td>{{ mess.weekend_snack_charge }}</td>
									</tr>
									<tr>
										<td>Dinner</td>
										<td>{{ mess.weekend_dinner_from }} - {{mess.weekend_dinner_to}}</td>
										<td>{{ mess.weekend_dinner_charge }}</td>
									</tr>
								</tbody>
							</table>
							<a class="btn" target="__blank" href="{{ mess.menu.url }}">Mess Menu</a>
						</div>
					</div>
					{% else %}
					<p>No Mess Details Available now.</p>
					{% endif %}
				</div>
				<div class=" col l12 bfp" id="facilities">
					<h5 class="center blue-text text-accent-1">Facilities</h5>
					<hr>
					<br>
					<div>
						{% if facilities|length > 0 %}
						{% for f in facilities %}
						<div class="card">
							<div class="card-content black-text row">
								<div class="col s12 l6 m6">
									<span class="card-title deep-orange-text">{{ f.fac.facility_name }}</span>
									<p class="brown-text text-darken-2">{{ f.fac.facility_description|linesbreak }}</p>
								</div>
								<div class="col s12 l6 m6">
									{% if f.photo %}
									<img class="squarepic" src="{{ f.fac.photo.url }}">
									{% else %}
									<img class="squarepic" src="/media/warden/images/facilities/demo.jpg">
									{% endif %}
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					{% else %}
					There is no Facility in this Hostel.
					{% endif %}
				</div>
				</div>
				<div class=" col l12 bfp" id="eventlist">
					<h5 class="center blue-text text-accent-1">Events</h5>
					<hr>
					<div>
						{% if events|length > 0 %}
						{% for e in events %}
						<div class="card addcard">
							<div class="card-content">
								<span class="card-title deep-orange-text">{{ e.title }}</span>
								<p class="brown-text text-darken-2">{{ e.description|linesbreak }}</p>
							</div>
							<div class="card-action">
								<a href="{% url 'newapp-event-view' e.pk %}">View Event</a>
							</div>
						</div>
						{% endfor %}
						{% else %}
						<p>Eventless Hostel.</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
<!-- Footer --> 

<footer id="footr" class="page-footer grey darken-4">
	<div class="container footer">
		<a class="grey-text text-lighten-3 modal-trigger" href="#about">About</a>
		<a class="grey-text text-lighten-3 modal-trigger" href="#!">Contact Us</a>
		<a class="grey-text text-lighten-3 modal-trigger" href="#locate">Locate Us</a>
		<a class="grey-text text-lighten-3 modal-trigger" href="#!">Feedback</a>
		<a class="grey-text text-lighten-3 modal-trigger" href="http://www.nsit.ac.in" target="_blank">nsit.ac.in</a>
	</div>
</footer>

<!--	modals-->
<!-- About -->
<div id="about" class="modal">
	<div class="modal-content">
		<h3 class="center">
			About us
		</h3>
		<hr>
		<p>
			Hostel Management System of NSIT.
		</p>
	</div>
</div>

<!-- Locate Us -->
<div id="locate" class="modal">
	<div class="modal-content">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.6879906005356!2d77.03287455023379!3d28.609135591804954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d053516783c9b%3A0x7e540ab22a28446!2sNetaji+Subhas+Institute+Of+Technology!5e0!3m2!1sen!2sin!4v1458988779817" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>	

<!--Scripts -->
<script type="text/javascript" src='{% static "assets/main-page/js/jquery-1.11.3.min.js" %}'></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
{% include 'material/includes/material_js.html' %}
<script type="text/javascript" src="{% static 'assets/main-page/js/script.js' %}"></script>
<script type="text/javascript">
	$( window ).load(function() {
		main();
	});
</script>
<script>
	$(document).on('click', 'a[href^="#"]', function(e) {
		// target element id
		var id = $(this).attr('href');

		// target element
		var $id = $(id);
		if ($id.length === 0) {
			return;
		}

		// prevent standard hash navigation (avoid blinking in IE)
		e.preventDefault();

		// top position relative to the document
		//var pos = $(id).offset().top;
		
		// animated top scrolling
		$('body, html').animate({scrollTop:pos},1000);
		//$('body, html').noop();
	});


</script>

</body>
</html>