{% extends "newapp/home.html" %}
{% load staticfiles %}
{% load material_form %}
{% block title %} Chief Warden {% endblock %}

{% block extrahead %} 
<!--<link rel="stylesheet" href="{% static 'assests/main-page/css/cw-home.css' %}">-->
   <!--<link type="text/css" rel="stylesheet" href="{% static 'assets/main-page/css/styleHostel.css' %}"/>-->
<!--<link rel="stylesheet" href="{% static 'assests/main-page/css/styleHostel.css' %}">-->
{% endblock %}

{% block content %}
{% if mes %}
	<script type="text/javascript">
		alert("{{ mes }}");
	</script>
{% endif %}
<div class="modal-content">
    <h4>Log In</h4>
    <hr>
    <form method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% form form=form %}
        {% endform %}
        <div class="row">
            <button class="btn waves-effect waves-light col s6" type="submit" name="login">Log In</button>
            <a id="forgot-button" data-target="forgot-password" class="modal-trigger col s6" href="#forgot-password">Forgot Password</a>
        </div>
	</form>
</div>
<!--forgot password-->
<div id="forgot-password" class="modal">
 			<div class="modal-content">
 				<h4> Forgot Password</h4>
 				<hr>
 				<form method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% form form=forgetform %}
        {% endform %}
        <div class="row">
            <button class="btn waves-effect waves-light col s6" type="submit" name="login">Reset Password</button>
        </div>
	
 				<div class="modal-footer">
 					<a href="#!" class="modal-action modal-close waves-effect btn-flat ">Cancel</a>
 				</div>
 			</div>
</div>
				</form>
</div>
{% endblock %}