{% extends "newapp/home.html" %}
{% load staticfiles %}
{% load material_form %}
{% block title %} Chief Warden {% endblock %}

{% block extrahead %} 
<!--<link rel="stylesheet" href="{% static 'assests/main-page/css/cw-home.css' %}">-->
   <link type="text/css" rel="stylesheet" href="{% static 'assets/main-page/css/styleHostel.css' %}"/>
<!--<link rel="stylesheet" href="{% static 'assests/main-page/css/styleHostel.css' %}">-->
{% endblock %}

{% block content %}
</div>
{% if mes %}
	<script type="text/javascript">
		alert("{{ mes }}");
	</script>
{% endif %}
<div class="row">
	<div class="col s12 m12 l12">
		<div class="card-panel">
		<h3>Hostels</h3>
			<ul class="collapsible" data-collapsible="accordion">
		    <li>
		      <div class="collapsible-header">Add Branch</div>
		      <div class="collapsible-body">
				<form method="post" action="{% url 'chief_branch' %}">
					{% csrf_token %}
					<input type="hidden" name="next" value="{{ next }}" />
					{% form form=form %}
					{% endform %}
					<div class="row">
						<div class="col s12"> 
							<button type="submit" name="add-room" class="btn waves-effect waves-light left">Add Branch</button>
						</div>
					</div>
				</form>
		      </div>
		    </li>
		  	</ul>
			<table>
				<thead>
					<tr>
						<th data-field="id">S. No.</th>
						<th data-field="name">Branch Code</th>
						<th data-field="name">Branch Name</th>
						<th data-field="name">Roll Code</th>
					</tr>
				</thead>
				<tbody>
					{% for hos in all_branch %}
					<tr>
						<td align="center">
							{{ forloop.counter }}.
						</td>
						<td align="center">
							{{ hos.title }}
						</td>
						<td align="center">
							{{ hos.name }}
						</td>
						<td align="center">
							{{ hos.roll_code }}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
	

{% endblock %}

{% block sidelist %}
<li><a href="/chiefwarden/branch/">Branches</a></li>
<li><a href="/chiefwarden/notices/">Notices</a></li>
<li><a href="/chiefwarden/room/">Room</a></li>
<li><a href="/chiefwarden/student/">Student</a></li>

{% endblock %}